@charset "UTF-8";
/* CSS Document */

body{
	background-color: #333631; 
	color: #ffffff;
    font-size:41.9px; 	
	font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}
 	p.example1 {
        font-size:41.9px; 	
}

    div#wrapperBox  {  
        width: 1286px;  
    	background-image:url(hiz.jpg); 
        background-repeat: no-repeat; 
	    background-position:right;
background-size:100% 102%;
    }  
   
    div#headerBox   {  
        width: 700px; 
		height: 450px; 
        padding: 10px 15px; 
        font-size:41.9px; 
        margin-left: 50px;  
    }   
  
    div#footerBox   { 
		float: left;
        width: 380px;  
		height:300px; 
        padding: 5px 15px;  
    	color: #ffffff;
    }  
	#footerBox:hover{
		padding: 5px 15px;  
		background-color:#ffffff;
        color: #333631;
	}
	 div#tooterBox   { 
		float: left;
        width: 380px;  
		height:300px; 
        padding: 5px 15px;
    	color: #ffffff;
    }  
	#tooterBox:hover{
		padding: 5px 15px;  
		background-color:#ffffff;
        color: #333631;

	}
	 div#pooterBox   { 
		float: left;
        width: 380px;  
		height:300px; 
        padding: 5px 15px;  
    	color: #ffffff;
    }  
	#pooterBox:hover{
		padding: 5px 15px;  
        background-color:#ffffff;
        color: #333631;

	}
	div#fontd   {
		position: relative;
		top: 80px;
	}
