@charset "UTF-8";
/* CSS Document */

body{
	color: #ffffff;
	background-color: #333631; 
	font-size:41.9px; 
	font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}
 	p.example1 {
	color: #333631;
	font-size:16px;
    }

    div#wrapperBox  {  
        width: 80%;
		margin-left:10%;
		
    }  
   
	#menu ul{
		margin: 0; 
		padding: 0; 
		list-style: none;
		}
	#menu li{ 
		display: inline; 
		padding: 0; 
		margin: 0; 
		float: right;
		}
		#menu li a{
		display: block; 
		background-color: #333631; ;
		padding: 3px;
		text-decoration: none;
		color: #ffffff;
		width: 100px; 
		text-align: center;
		font-size: 14px;
		}
		#menu li a:hover{
		background-color: #F3D898;
		}
		#menu #haji li a{
		display: block; 
		background-color: #fff;
		padding: padding: 3px 10px;;
		text-decoration: none;
		color: #333;
		width: 100px; 
		text-align: center;
		font-size: 14px;
		}
		#menu #haji li a:hover{
		display: block; 
		background-color: #F3D898;
		}
		
    #menu2 ul{
		margin: 0; 
		padding: 0; 
		list-style: none;
		}
	#menu2 li{ 
		display: inline; 
		padding: 0; 
		margin: 0; 
		float: left;
		}
		#menu2 li a{
		display: block; 
		border-left: 1px solid #333631; ;
		border-top: 1px solid #333631; ;
		border-bottom: 1px solid #333631; ;
		background-color: #ffffff; ;
		padding: 3px;
		text-decoration: none;
		color: #333631;
		width: 310px; 
		margin: 1px 0px;
		text-align: center;
		font-size: 21px;
		}
		#menu2 li a:hover{
		border-left: 1px solid #474655;
		border-top: 1px solid #474655;
		border-bottom: 1px solid #474655;
		background-color: #F3D898;
		}
		#menu2 #haji2 li a{
		display: block; 
		border: 1px solid #474655;
		background-color: #fff;
		padding: padding: 3px 10px;;
		text-decoration: none;
		color: #333;
		width: 100px; 
		margin: 1px 0px;
		text-align: center;
		font-size: 14px;
		}
		#menu2 #haji2 li a:hover{
		display: block; 
		border: 1px solid #474655;
		background-color: #F3D898;
		}   
  
    div#footerBox   { 
		color: #333631;
		background-color: #ffffff;
	    width: 100%;
	}

	 div#tooterBox   { 
		float: center;
        width: 100%;
		height:400px;
        background-image:url(hiz.jpg); 
        background-repeat: no-repeat; 
	    background-position:top;
	    background-size:100% auto;
		max-width:1500px;

    }  
    
	 div#pooterBox   { 
		float: left;
        width: 100%;  
		height: 50px; 
		vertical-align: top;
		text-align: center;

    }  
	div#sooterBox   { 
		float: center;
        width: 100%;  
		text-align: center;
		font-size:25.9px;

    }  
	div#gooterBox   { 
		float: center;
        width: 100%;  
		margin-top: 100px;
		text-align: center;
		font-size:25.9px;

    }  
	div#wooterBox   { 
		float: center;
        width: 100%;  
		margin-top: 100px;
		text-align: center;
		font-size:25.9px;
    } 
	div#retarn{
		width: 100%;
		height: 17px;
		margin-top: 50px;
		text-align: right;
		font-size:16px;
	}
	div#sita {
	    width: 100%;
		height: 17px;
		margin-top: 50px;
		background-color: #ffffff;
		text-align: center;
		color: #333631;
		font-size:16px;


	}
	div#fontd   {
		position: relative;
		top: 80px;
	}
